* {
  font-family: 'Georgia', 'Times', serif;]
}

body {
	background-color: #000000; 
	padding: 40px;
}

.container {
	margin: 100px 0px;
  	padding-bottom: 60px;
}

h1, h2 {
    color:darkgrey;
    text-align: left;
    text-transform: uppercase;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: white;
}

img {
  border-radius: 75%;
}

a.btn:hover {
  background:#FF6347;
  color: #BDB76B;
}

li {
  border-bottom: 1px solid #E4BB97;
  margin: 100px 0px;
  list-style-type: square;
}

.header {
	background-image: url("Images/Fractal-Wolf.jpg");
  height: 400px;
  background-position: center;
  text-align: middle;
}

.footer {
	 height: 400px;
  background-position: center;
}