* {
  font-family: 'Georgia', 'Times', serif;
  color: white;
}

body {
background: #000000; 
}

h1 {
    color: white;
    text-align: left;
}

p {
    font-family: verdana;
    font-size: 20px;
    font-color: white;
}


img {
  border-radius: 75%;
}