* {
  font-family: 'Georgia', 'Times', serif;]
}

body {
	background: #000000; 
	padding: 40px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1, h2 {
    color: white;
    text-align: left;
    text-transform: uppercase;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: white;
}

img {
  border-radius: 75%;
}

a.btn:hover {
  background:#ffa800;
  color:#000;
}